<nav class="navbar mynavbar fixed-top navbar-dark navbar-expand-lg  py-0">
    <a class="navbar-brand text-black my-brand" href="{{url_for('main.home')}}">
        <img src="{{ url_for('static', filename='img/logo2.png') }}" class=" logo d-inline-block align-center logo" alt=""> Team Up


    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">

        <ul class="navbar-nav">

            {% if parameters.usr.is_authenticated %}
            <li class="nav-item ">
                <a class="nav-link active" href="{{url_for('main.home')}}">Team ads</a>
            </li>
            {%else%}
            <li class="nav-item ">
                <a class="nav-link active" href="{{url_for('main.home')}}">Home</a>
            </li>
            {%endif%}

            <li class="nav-item ">
                <a class="nav-link active" href="{{url_for('main.contact')}}">Contact</a>
            </li>
            {% if parameters.usr.is_authenticated %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{parameters.usr.username}}
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('users.view_profile',username=parameters.usr.username)}}">See Profile</a>
                    <a class="dropdown-item" href="{{url_for('users.edit_profile')}}">Edit Profile</a>
                    <a class="dropdown-item" href="{{url_for('teams.my_applications')}}">My Applications</a>
                    <div class="dropdown-divider"></div>

                    <a class="btn btn-light text-black dropdown-item " href="{{url_for('users.logout')}}">Log out &nbsp;&nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i></a>

                </div>
            </li>



            {% else %}
            <li class="nav-item ">
                <a class="nav-link active" href="{{url_for('users.login')}}">Sign in </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light text-black nav-link signup-btn " href="{{url_for('users.register')}}" style="color:black ; font-weight: 500;background-color: white">Sign up</a>
            </li>
            {% endif %}

        </ul>
    </div>

    </div>
</nav>