{% extends 'base.html' %} {%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css') }}"> {%endblock%} {% block body %} {% include 'includes/navbar.html' %}


<form method="POST" action="{{ url_for('teams.apply',teamId = parameters.team.teamId) }}" class="container rounded mt-5 mb-5" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="row">


        <div class="col-md-12 ">
            <div class="p-3">
                <div class="d-flex justify-content-between align-items-center mb-3" ">
                    <h4 class="text-right " style="font-weight: 500; color:#F69D49; ">APPLY TO TEAM: <span style="color: black; ">{{parameters.team.teamName}}</span>  </h4>

                </div>
                <div class="row ">

                  
                    <div class="col-md-12 ">
                        {{form.content.label(class = "labels label ")}} {{form.content(class="form-control ",style="height:300px ")}}
                    </div>

                </div>

                <div class="pt-5 text-right ">{{ form.submit(class="btn submit-btn ", style = "font-size: 1.2rem; font-weight: 400; ") }}</div>
            </div>






        </div>
    </div>

</form>

{%endblock%}