{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> {%endblock%} {%block body%}
<main class="login-main" data-vide-bg="{{ url_for('static', filename='img/login-bg.mp4') }}">

    <form class="login-form" action="{{ url_for('users.login') }}" method="post">
        {{ form.hidden_tag() }}

        <div class="rounded py-2 mx-4 my-card-title">
            <h3 class="text-center my-card-title">Sign in to your account</h3>
        </div>
        <div class=" container " style="width:30rem; ">
            <div class="row ">
                <div class="col ">
                    <div class="card p-5 m-3 ">

                        <div class="form-group row mb-3 ">
                            {{ form.username.label(class="p-0 mb-1 label ") }}
                            <!--<label for="username " class="p-0 mb-1 " style="font-weight:600 "> Username </label>-->

                            <!--<input id="username " name="username " type="text " placeholder=" " class="form-control " formControlName="username " />-->
                            {% if form.username.errors %} {{ form.username(class="form-control form-control-lg is-invalid ") }}
                            <div class="invalid-feedback ">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.username(class="form-control ") }} {% endif %}
                        </div>


                        <div class="form-group row mb-3 ">
                            {{ form.password.label(class="p-0 mb-1 label ") }}
                            <!--<label for="password " class="mb-1 p-0 " style="font-weight:600 ">Password</label>-->

                            <!--
                            <input type="password " name="password " class="form-control " id="password " formControlName="password ">-->
                            {% if form.password.errors %} {{ form.password(class="form-control form-control-lg is-invalid ") }}
                            <div class="invalid-feedback ">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.password(class="form-control ") }} {% endif %}
                        </div>
                        {% if parameters.msg == 'not verified' %}
                        <small class="text-danger ">
                    Username or password is incorrect
                </small> {% endif %}
                        <div class="form-check ">
                            {{ form.remember(class="form-check-input ") }} {{ form.remember.label(class="form-check-label ") }}
                        </div>
                        <div class="form-group row ">
                            {{ form.submit(class="btn register-btn ", style = "font-size: 1.2rem; font-weight: 600; ") }}
                        </div>

                    </div>
                </div>


            </div>
            <div class="row ">
                <div class="col ">
                    <div class="card p-3 m-3 ">
                        <p class="card-title text-center ">Dont't have an account? <a href="{{url_for( 'users.register')}} "> Create an account.</a></p>
                    </div>
                </div>


            </div>
        </div>
    </form>
</main>


{% endblock %}