{% extends 'base.html' %} {%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css') }}"> {%endblock%} {% block body %} {% include 'includes/navbar.html' %}
<div style="margin-top: 7rem;"></div>


{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show text-center " role="alert ">
    <span>{{ message }}</span>
    <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                <span aria-hidden="true ">&times;</span>
                </button>
</div>
{% endfor %} {% endif %} {% endwith %}
<div class="container rounded text-center py-2">
    <h4 style="font-weight: 500;">MY APPLICATIONS</h4>
</div>
{% if parameters.applications%} {%for appl in parameters.applications%}
<!--<a class="btn btn_add" href="{{url_for('teams.view_team',teamId=appl.teamId)}}">-->
<div class="container rounded p-3 mt-5">


    <div class="row m-3">
        <div class="col-md-2">

            <div class=" d-flex flex-column align-items-center text-center">
                <img style="width: inherit; border-radius:50%" class="img-fluid mt-4 mb-3" src="{{url_for('static',filename = appl.linkPhoto)}}">
            </div>

        </div>
        <div class="col-md-10">

            <div class="row rounded mt-2 border-k">
                <p class="label-detail sorround">Team Name</p>
                <p class="sorround info">
                    {{appl.teamName}}
                </p>

            </div>
            <div class="row rounded mt-2 border-k">
                <p class="label-detail sorround">Application Date</p>
                <p class="sorround info">
                    {{appl.applyDate}}
                </p>

            </div>

            <div class="row rounded mt-2 border-k">
                <p class="label-detail sorround">Modified Application Date</p>
                <p class="sorround info">
                    {{appl.modified}}
                </p>

            </div>



        </div>


    </div>

    <div class="row m-3">


        <div class="col-md-8">
            <div class="row rounded mt-2 border-k">
                <span class="label-detail sorround">Status</span>
                <p class="sorround info">
                    {{appl.status}}
                </p>

            </div>
            <div class="row rounded mt-2 border-k ">
                <p class="sorround info pl-0 py-0">
                    <span class="label-detail sorround float-left mr-1 mb-1" style="display: inline-block;border-bottom: 1px solid #6a41c9;">Content</span>
                    <span class="">{{appl.content}}</span>

                </p>

            </div>

        </div>
        <div class="col-md-2">

            {%if appl.status == 'Denied'%}

            <button class="mt-2 status_denied">
                {{appl.status}}
            </button> {%endif%} {%if appl.status == 'Accepted'%}

            <button class="mt-2 status_accepted">
                {{appl.status}}
            </button> {%endif%}

        </div>
        <div class="col-md-2">{%if appl.status == 'In Process'%}
            <form method="POST" action="{{url_for('teams.apply',teamId=appl.teamId)}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button onselect="" class="btn_accept  mt-2">Update Application</button>
            </form>
            <form method="POST" action="{{url_for('teams.delete_application',appId=appl.applicationId)}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button class="btn_deny mt-2">Delete Application</button>
            </form>
            {%endif%}
            <a class="btn btn_add mt-2 " href="{{url_for('teams.view_team',teamId = appl.teamId)}}">View Team&nbsp; <i style="vertical-align: middle;font-size:2rem" class="fa fa-angle-right"></i>

            </a>
        </div>


    </div>


</div>

{%endfor%} {%endif%}{%endblock%}