{% extends 'base.html' %}{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css') }}"> {%endblock%} {% block body %} {% include 'includes/navbar.html' %}
<div style="margin-top: 7rem;"></div>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show text-center " role="alert ">
    <span>{{ message }}</span>
    <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                <span aria-hidden="true ">&times;</span>
                </button>
</div>
{% endfor %} {% endif %} {% endwith %}
<div class="container rounded mt-5 mb-5">

    <div class="row">
        <div class="col-md-4">
            <div class="d-flex flex-column align-items-center text-center p-3">
                <img style="width: 13rem;border-radius: 50%;" class=" mt-4 mb-3" src="{{url_for('static',filename = parameters.detail.linkPhoto)}}"> {{parameters.detail.username}}
            </div>
        </div>

        <div class="col-md-8 ">
            <div class="p-3">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right" style="font-weight:500">PROFILE</h4>
                    {%if parameters.current_user_liked %}
                    <form method="POST" action="{{url_for('users.remove_like',userId=parameters.usr.id, likedUserId = parameters.detail.userId)}}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button class="btn btn_add  mt-2"> Remove Like <i style="color:red" class="fa fa-heart"></i>&nbsp; {{parameters.likeCount}}</button>
                    </form>
                    {%else%}
                    <form method="POST" action="{{url_for('users.add_like',userId=parameters.usr.id, likedUserId = parameters.detail.userId)}}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button class="btn btn_add  mt-2">Like <i style="color:red" class="fa fa-heart-o"></i>&nbsp; {{parameters.likeCount}}</button>
                    </form>
                    {%endif%}
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <span class="labels label">Bio:</span> {{parameters.detail.bio}}

                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="p-3">
                <div class="row mt-2">

                    <div class="col-md-12">
                        <span class="labels label">Full Name:</span> {{parameters.detail.fullName}}

                    </div>
                </div>
                <div class="row mt-2">

                    <div class="col-md-12">
                        <span class="labels label">Email:</span> {{parameters.detail.email}}

                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-12">
                        <span class="labels label">CV:</span>
                        <a style="font-size: 1rem;" href="{{url_for('static',filename = parameters.detail.linkCV)}}" target="_blank">{{parameters.usr.username}}.pdf</a>

                    </div>
                    <div class="col-md-12">
                        <span class="labels label">Github:</span>
                        <a style="font-size: 1rem;" href="{{url_for('static',filename = parameters.detail.linkGithub)}}" target="_blank">{{parameters.detail.linkGithub}}.pdf</a>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="p-3 mt-0">
                <div class="row mt-2">
                    <div class="col-md-12">
                        <span class="labels label">University:</span> {{parameters.detail.uniName}}

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <span class="labels label">Faculty:</span> {{parameters.detail.facName}}

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <span class="labels label">Department:</span> {{parameters.detail.depName}}

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <span class="labels label">Year Of Study:</span> {{parameters.detail.yearOfStudy}}
                    </div>
                    <div class="col-md-6">
                        <span class="labels label">GPA:</span> {{parameters.detail.gpa}}
                    </div>

                </div>



            </div>
        </div>

    </div>
</div>

<div class="container rounded text-center py-2">
    <h4 style="font-weight: 500;">TEAMS</h4>
</div>
{% if parameters.teams%}
<div class="container rounded p-3">
    <h5>Members of Teams:</h5>
    {%for team in parameters.teams%}


    <a class="btn btn_add" href="{{url_for('teams.view_team',teamId=team.teamId)}}">
        <div class="d-flex flex-column align-items-center text-center p-3">
            <img style="width: 5rem; border-radius:50%" class="img-fluid mt-4 mb-3" src="{{url_for('static',filename = team.linkPhoto)}}">
        </div>
        <p>{{team.teamName}}</p>
    </a>
    {%endfor%}
</div>

{%endif%} {% if parameters.admin_teams%}
<div class="container rounded p-3">
    <h5>Owner of Teams:</h5>
    {%for team in parameters.admin_teams%}

    <a class="btn btn_add" href="{{url_for('teams.view_team',teamId=team.teamId)}}">
        <div class="d-flex flex-column align-items-center text-center p-3">
            <img style="width: 5rem; border-radius:50%" class="img-fluid mt-4 mb-3" src="{{url_for('static',filename = team.linkPhoto)}}">
        </div>
        <p>{{team.teamName}}</p>
    </a>

    {%endfor%}
</div>

{%endif%}{%endblock%}