{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> {% endblock %} {% block body %} {% for field in form.errors %} {% for error in form.errors[field] %}
<div class="error">{{ error }}</div>
{% endfor %} {% endfor %}

<main class="login-main" data-vide-bg="{{ url_for('static', filename='img/login-bg.mp4') }}">

    <form class="login-form" action="{{ url_for('users.register') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="rounded py-2 mx-4 my-card-title">
            <h3 class="text-center my-card-title">Create an account</h3>
        </div>
        <div class="container" style="width:30rem;">
            <div class="row">
                <div class="col">
                    <div class="card p-5 m-3">


                        <div class="form-group row mb-3">
                            {{ form.email.label(class="p-0 mb-1 label" )}} {% if form.email.errors %} {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.email(class="form-control") }} {% endif %} {% if parameters.msg == 'email exists' %}
                            <small style="color: #F69D49;">
                            ***There is already an account registered to this email address
                        </small> {% endif %}

                        </div>
                        <div class="form-group row mb-3">
                            {{ form.username.label(class="p-0 mb-1 label") }} {% if form.username.errors %} {{ form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.username(class="form-control") }} {% endif %}{% if parameters.msg == 'user exists' %}
                            <small style="color: #F69D49;">
                          ***There is already an account registered to this username
                      </small> {% endif %}
                        </div>

                        <div class="form-group row mb-3">
                            {{ form.password.label(class="p-0 mb-1 label") }} {% if form.password.errors %} {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.password(class="form-control") }} {% endif %}
                        </div>
                        <div class="form-group row mb-3">
                            {{ form.confirm_password.label(class="p-0 mb-1 label") }} {% if form.confirm_password.errors %} {{ form.confirm_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.confirm_password(class="form-control") }} {% endif %} {% if parameters.msg == 'underfilled the form' %}
                            <small style="color: #F69D49;">
                        ***Form is underfilled
                    </small> {% endif %}
                        </div>

                        <div class="form-group row">
                            {{ form.submit(class="btn register-btn",style="font-size: 1.2rem; font-weight: 400;") }}


                        </div>

    </form>
    </div>

    </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card p-3 m-3">
                <p class="card-title text-center">Already have an account? <a href="{{url_for('users.login')}}"> Sign in.</a></p>
            </div>
        </div>

    </div>

    </div>
</main>
{% endblock %}